@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color:aliceblue;
    padding: 70px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: chartreuse;
    text-transform: uppercase;
    font-weight: 800;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: chocolate;
    display: block;

}

#menu {
    display: none;
}


.menu-icono {
    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;

}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: teal;
    padding: 20px;
    min-width: 400px;

}

.table {
    width: 100%;

}

th, td {
    color: darkkhaki;

}

.borrar {
    background-color: rgb(168, 78, 161);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: crimson;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}

.header-text h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111;
    font-family: "Oswald", sans-serif;
    margin-bottom: 15px;
}

.header-text p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111;
    color: #ffff;
    border-radius: 5px;
}

.ofert {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15%);
    background-color: #f5f5f5;
    padding: 35px;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15%;
}

.ofert img img {
    width: 250%;
}

.ofert-text {
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {
    color: #111111;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

.productos h2{
    color: #111111;
    font-family: "Oswald";
}

